<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Choix</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1>Creer compte Client/Chauffeur</h1>
  </ion-text>
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  <ion-button href="/login"  expand="full" size="medium" color="warning">Connexion</ion-button>
   <br>
  <ion-button href="/inscription" expand="full" size="medium" color="warning">Inscription</ion-button>
</ion-content>
