<ion-header [translucent]="true">
  <ion-toolbar *ngIf="!isConnected" color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Connexion</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="isConnected" color="primary">
    <ion-title>Compte</ion-title>
    <ion-row>
      <ion-col size="10">
        <ion-icon style="width: 30px; height: 30px; margin-left: auto; margin-right: auto" name="person-circle-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
        Bienvenue {{profil.nom}} {{profil.prenom}}
      </ion-col>
      <ion-col size="2">
        <ion-badge color="danger" (click)="logout()"><ion-icon style="height: 20px; width: 20px;" name="log-out-outline"></ion-icon></ion-badge>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isConnected">
    <ion-list>
      <ion-list-header>MENU</ion-list-header>
      <ion-item></ion-item>
      <ion-item>
        <ion-label>MON PROFIL</ion-label>
        <ion-icon slot="end" name="person-circle-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!isConnected">
    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" [formGroup]="userLoginForm">
      <br>
      <h3 style="text-align: center;">Bienvenue sur la page de connexion</h3>
      <div *ngIf="affiche" class="notFound">Adresse Email ou Mot de Passe incorrecte!</div>
      <ion-item lines="full">
        <ion-label style="font-size: 12px;" position="floating">Telephone * </ion-label>
        <ion-input type="tel" maxLength="8" name="phone" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="font-size: 12px;" position="floating">Mot de passe * </ion-label>
        <ion-input type="password"  name="password" minlength="4" formControlName="password"></ion-input>
      </ion-item>

      <br><br><br>

      <ion-button type="submit" expand="full" color="warning">Se connecter</ion-button>
      <p style="text-align: center;" >Mot de passe oublié?</p>

      <br> <br>
      <p style="text-align: center;">
        <span style="text-align: center;">Nouveau sur Bamako Taxi ?</span>&nbsp; <br> <br>
        <a expand="full" color="primary" (click)="register()">CREER UN COMPTE</a>
      </p>
    </form>
  </div>
</ion-content>
